# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# OpenOffice lock file
*.~lock.*

# Arimaa saved games, latex logs...
*.arm
*.log
*.out
*.toc
*.aux
*.bbl
*.blg
*.synctex.gz
*~

# prevent any pdf files with _WIP in it preventing some conflicts
*_WIP.pdf

# Images files
*.psd
*.sai

# Visual Studio files
*.vcproj
*.sdf
*.opensdf
*.sln
*.sln*
*.v12.suo
*.vcxproj
*.obj
*.tlog
*.lastbuildstate
*.pdb
*.vcxproj.*

*_WIP.pdf
# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# =========================
# Gabriel Trash files...
# =========================
*.obj
Arimaa/Arimaa.ncb
Arimaa/Arimaa.sdf
Arimaa/Arimaa.sln
Arimaa/Arimaa.suo
Arimaa/Arimaa.v12.suo
Arimaa/Arimaa/Arimaa.aps
Arimaa/Arimaa/Arimaa.rc
Arimaa/Arimaa/Arimaa.vcproj
Arimaa/Arimaa/Arimaa.vcproj.SKYWALKER.Gabriel.user
Arimaa/Arimaa/Arimaa.vcxproj
Arimaa/Arimaa/Arimaa.vcxproj
Arimaa/Arimaa/Arimaa.vcxproj.filters
Arimaa/Arimaa/Arimaa.vcxproj.user
Arimaa/Arimaa/Debug*
Arimaa/Arimaa/Model/DoxygenConfig
Arimaa/Arimaa/Model/GenerateDoc.bat
Arimaa/Arimaa/Model/HOWTO doxygen.txt
Arimaa/Arimaa/ReadMe.txt
Arimaa/Arimaa/Release.bat
Arimaa/Arimaa/Release/*
Arimaa/Arimaa/resource.h
Arimaa/Backup/Arimaa.sln
Arimaa/Backup/Arimaa.v12.suo
Arimaa/Debug/*
Arimaa/Old VIsual Files/*
Arimaa/UpgradeLog.htm

# =========================
# Biv Trash files...
# =========================
MCTS/Debug/*

# =========================
# BAPTISTE Trash files...
# =========================
*.fdb_latexmk
