# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Arimaa saved games, latex logs...
*.arm
*.log
*.out
*.toc
*.aux
*.bbl
*.blg
*.synctex.gz
*~

# Images files
*.psd
*.sai

# Visual Studio files
*.vcproj
*.sdf
*.sln
*.sln*
*.v12.suo
*.vcxproj
*.vcxproj.*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# =========================
# Gabriel Trash files...
# =========================
*.obj
Arimaa/Arimaa.ncb
Arimaa/Arimaa.sdf
Arimaa/Arimaa.sln
Arimaa/Arimaa.suo
Arimaa/Arimaa.v12.suo
Arimaa/Arimaa/Arimaa.aps
Arimaa/Arimaa/Arimaa.rc
Arimaa/Arimaa/Arimaa.vcproj
Arimaa/Arimaa/Arimaa.vcproj.SKYWALKER.Gabriel.user
Arimaa/Arimaa/Arimaa.vcxproj
Arimaa/Arimaa/Arimaa.vcxproj
Arimaa/Arimaa/Arimaa.vcxproj.filters
Arimaa/Arimaa/Arimaa.vcxproj.user
Arimaa/Arimaa/Debug*
Arimaa/Arimaa/Model/DoxygenConfig
Arimaa/Arimaa/Model/GenerateDoc.bat
Arimaa/Arimaa/Model/HOWTO doxygen.txt
Arimaa/Arimaa/ReadMe.txt
Arimaa/Arimaa/Release.bat
Arimaa/Arimaa/Release/*
Arimaa/Arimaa/resource.h
Arimaa/Backup/Arimaa.sln
Arimaa/Backup/Arimaa.v12.suo
Arimaa/Debug/*
Arimaa/Old VIsual Files/*
docs/Report 1 Put text here/1_Presentation/1.1_Arimaa_rules_Gabriel/Pictures/1.png
docs/Report 1 Put text here/1_Presentation/1.1_Arimaa_rules_Gabriel/Pictures/10.png
docs/Report 1 Put text here/1_Presentation/1.1_Arimaa_rules_Gabriel/Pictures/2.png
docs/Report 1 Put text here/1_Presentation/1.1_Arimaa_rules_Gabriel/Pictures/3.png
docs/Report 1 Put text here/1_Presentation/1.1_Arimaa_rules_Gabriel/Pictures/4.png
docs/Report 1 Put text here/1_Presentation/1.1_Arimaa_rules_Gabriel/Pictures/5.png
docs/Report 1 Put text here/1_Presentation/1.1_Arimaa_rules_Gabriel/Pictures/6.png
docs/Report 1 Put text here/1_Presentation/1.1_Arimaa_rules_Gabriel/Pictures/7.png
docs/Report 1 Put text here/1_Presentation/1.1_Arimaa_rules_Gabriel/Pictures/8.png
docs/Report 1 Put text here/1_Presentation/1.1_Arimaa_rules_Gabriel/Pictures/9.png
Arimaa/UpgradeLog.htm

# =========================
# Biv Trash files...
# =========================
MCTS/Debug/*